.search-location-container{
        margin: 10px 100px;
        display: flex;
        justify-content: space-between;
}
.search-location-form{
    margin-top: 10px;
    width:350px;
    height:220px;
    background-color:lightgray;
}

.search-location-form input{
    border: none;
    width: 80%;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.search-location-form label{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color:darkslategray;
    font-weight: 500;
}
.search-location-form input[type="text"]{
    outline: none;
}
.search-location-form input[type="submit"]{
    border: none;
    margin-top: 20px;
    background-color: orangered;
    cursor: pointer;
    color: white;
}
.fare-details-container{
    width: 350px;
    height:500px;
    background-color: lightgray;
}
.location{
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: tomato;
    color: white;
    width: 80%;
    height: 100px;
    padding: 10px;
    border:1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
}
.starting-point{
    position: absolute;
    width: 180px;
    height: 25px;
    left: 15%;
    top: 25%;
}
.end-point{
    position: absolute;
    width: 180px;
    height: 25px;
    left: 15%;
    top: 55%;
}

.vertical-line {
    border-left: 5px solid white;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 35%;
  }