.header-background{
    height: 60px;
    background-color: #88def4;
}
.header-container{
    display: flex;
    width: 70%;
    position: absolute;
    left: calc(50% - 472px);
    align-items: center;
    justify-content: space-between;
}
.header-container nav{
    width: 400px;
    text-align: right;
}

.header-container nav a{
    text-decoration: none;
    margin: 10px 5px 10px 20px;
    color:blue;
}

.header-container nav a:hover{
    color: white;
    background-color: orangered;
}

.header-container h2{
    color:orangered;
}

.button{
    border: none;
    background-color: #88def4;
    color: blue;
}

